html {
  font-size: 15px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #111111; }

.padre {
  display: flex;
  flex-flow: column nowrap; }

.encabezado {
  /*background: #111111;*/
  background: linear-gradient(to bottom, #4b0d0b, #221510);
  color: #fff;
  padding: .5rem 0;
  transition: all .5s ease; }

.encabezado.fondo-menu {
  background: #064e4e;
  padding: 1rem 0; }

.encabezado .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.encabezado .logo img {
  width: 250px;
  height: auto; }

/*Estilos para el boton: buscar y menu*/
.boton-buscar,
.boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #fff; }

.boton-buscar:focus,
.boton-menu:focus {
  outline: 0; }

.boton-buscar {
  margin-left: auto;
  margin-right: .8rem; }

/*Estilos bloque buscar*/
#bloque-buscar {
  flex: 1 1 100%; }

.contenedor-bloque-buscar {
  display: flex;
  height: 3rem;
  margin: 1rem 0; }

.contenedor-bloque-buscar input[type="text"] {
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  flex: 1 1 auto; }

.contenedor-bloque-buscar input[type="submit"] {
  flex: 1 1 auto;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #12AFAF;
  color: #fff;
  flex: 0 1 auto;
  padding: 0 1rem; }

#menu-principal {
  flex: 1 1 100%; }

#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0; }

#menu-principal ul a {
  display: block;
  padding: .8rem 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #8c8888;
  text-decoration: none; }

#menu-principal ul a:hover,
#menu-principal ul li.active a {
  color: #12AFAF; }

/*---------------------------------------------
BANER PRINCIPAL DE LA PAGINA
--------------------------------------------*/
.banner_desktop {
  /*background: linear-gradient(to bottom,#1b8dd8,#0072bd);*/
  height: 545px;
  background: url("../images/walpaper-superior.jpg") no-repeat center top;
  background-size: 100%;
  /*border: 10px solid black;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.imagen-banner-jeremias {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 300px; }

.imagen-banner-diamante {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  right: 0px; }

.imagen-banner-escudo {
  position: absolute;
  z-index: 2;
  bottom: 90px;
  left: 10%; }

/*---------------------------------------------
FRASE
--------------------------------------------*/
.frase {
  height: 139px;
  background: linear-gradient(to bottom, #221510, #4b0d0b);
  color: #fff;
  padding: 25px 0; }

.frase .container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center; }

/*---------------------------------------------
NOTICIAS
--------------------------------------------*/
.noticias {
  padding: 35px 0; }

/*---------------------------------------------
POLITICAS
--------------------------------------------*/
.politicas {
  /*padding: 55px 0;*/
  padding-top: 55px;
  height: 467px;
  background-color: #0172be;
  color: #fff;
  background: url("../images/fondo-categorias.jpg") no-repeat center top;
  background-size: 100%;
  /*border: 10px solid black;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

/*---------------------------------------------
PIE CIUDAD
--------------------------------------------*/
.pie_ciudad {
  /*padding: 55px 0;*/
  padding-top: 55px;
  height: 964px;
  background: url("../images/fondo-Bajo-casas.jpg") no-repeat center top;
  background-size: 100%;
  /*border: 10px solid black;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

/*---------------------------------------------
FOOTER
--------------------------------------------*/
.footer {
  height: 100px;
  background: linear-gradient(to bottom, #4b250b, #311716);
  color: #fff;
  padding: 25px 0; }

/*---------------------------------------------
EMPIEZAN LAS MEDIAS QUERIES
--------------------------------------------*/
@media (min-width: 768px) {
  #menu-principal {
    height: auto !important;
    display: block;
    flex: 0 1 auto;
    margin-left: auto;
    order: 1; }

  #menu-principal ul {
    display: flex;
    margin: 0 0 0 0; }

  #menu-principal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    transition: all 0.5s ease; }

  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: #ca924d;
    border-bottom: 4px solid; }

  .boton-buscar {
    margin-left: 1rem;
    margin-right: 0;
    order: 2; }

  #bloque-buscar {
    order: 3;
    position: absolute;
    width: 20rem;
    right: 3rem;
    top: 2.8rem;
    transition: all 0.5s ease; } }
@media all and (max-width: 800px) {
  .politicas {
    padding: 25px 0;
    background-color: #4b250b;
    background-image: none;
    color: #fff;
    height: auto; } 
  }


