

/*fuentes*/

@font-face{
    font-family: 'roboto-bold';
    src: url(../font/Roboto/Roboto-Bold.ttf);
}

@font-face{
    font-family: 'roboto-light';
    src: url(../font/Roboto/Roboto-Light.ttf);
}

@font-face{
    font-family: 'roboto-BoldCondensed';
    src: url(../font/Roboto/Roboto-BoldCondensed.ttf);
}

@font-face{
    font-family: 'roboto-medium';
    src: url(../font/Roboto/Roboto-Medium.ttf);
}    


/*fondo*/

.fondo_entretenimiento{
    background-color: #0a0f14;
    background-image: url(../img/c71b9004588c58c5541323ff14839cfb_4.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position-x: -500px;
    background-position-y: 50px;
    background-size: 750px;


    /*cursor got*/

    cursor: url("../img/Cursor/Manodelrey_1_6_c.png"), auto;
}

/*
color original de fondo
    background-color: #0f171f;

*/










/*---------hasta aca header benja----------------*/


/*titulo entretenimiento*/



.tituloentretenimiento {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

.deepshadow {
    color: #ff0065;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 rgb(0, 0, 0), 
      0 2px 0 #2c2c2c,  
      0 3px 0 #282828,  
      0 4px 0 #242424,  
      0 5px 0 #202020,  
      0 6px 0 #1c1c1c,  
      0 7px 0 #181818, 
      0 10px 0 #141414,  
      0 15px 20px rgba(0, 0, 0, 0.9);
  }




/*menu izquierdo iconos*/

.iconos_1{
    background-color: aquamarine;
}



.icoespe{
    height: 60px;
    margin-left: 50%;

    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.imgespe:hover .icoespe{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .5s ease-in-out;
    filter: saturate(150%)
}

.iconizq{
    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.icohist{
    height: 60px;
    margin-left: 50%; 
    margin-top: 10px; 
    
    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.imghist:hover .icohist{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .5s ease-in-out;
    filter: saturate(150%)
}

.icodepo{
    height: 60px;
    margin-left: 50%;
    margin-top: 10px;

    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.imgdepo:hover .icodepo{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .5s ease-in-out;
    filter: saturate(150%)
}

.icojueg{
    height: 60px;
    margin-left: 50%;
    margin-top: 10px;

    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.imgjueg:hover .icojueg{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .5s ease-in-out;
    filter: saturate(150%)
}

.icocurs{
    height: 60px;
    margin-left: 50%;
    margin-top: 10px;

    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.imgcurs:hover .icocurs{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .5s ease-in-out;
    filter: saturate(150%)
}

.icoencu{
    height: 60px;
    margin-left: 50%;
    margin-top: 10px;

    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.imgencu:hover .icoencu{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .5s ease-in-out;
    filter: saturate(150%)
}


.seleccionada{
    color: #ff0065 !important;
    border-bottom: 3px #ff0065 solid;

}

.noseleccionada{
    color: #ffffff;
    border-bottom: 2px #ffffff solid;
}

/*menu izquierdo palabras*/


.palabramenu{
    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.espectaculos{
    margin-top: 15px;
    height: 40px;
    font-family: 'roboto-medium';
    font-size: 25px;
}

.espectaculos:hover{
    text-shadow: 0 0 30px #ff0065;
}




.historia{
    margin-top: 30px;
    height: 40px;
    font-family: 'roboto-medium';
    font-size: 25px;
}

.historia:hover{
    text-shadow: 0 0 30px #ff0065;
}

.deportes{
    margin-top: 30px;
    height: 40px;
    font-family: 'roboto-medium';
    font-size: 25px;
}

.deportes:hover{
    text-shadow: 0 0 30px #ff0065;
}

.juegos{
    margin-top: 30px;
    height: 40px;
    font-family: 'roboto-medium';
    font-size: 25px;
}

.juegos:hover{
    text-shadow: 0 0 30px #ff0065;
}

.cursos{
    margin-top: 30px;
    height: 40px;
    font-family: 'roboto-medium';
    font-size: 25px;
}

.cursos:hover{
    text-shadow: 0 0 30px #ff0065;
}

.encuesta{
    margin-top: 30px;
    height: 40px;
    font-family: 'roboto-medium';
    font-size: 25px;
}

.encuesta:hover{
    text-shadow: 0 0 30px #ff0065;
}



.palabramenu:link{ 
    color: rgb(255, 255, 255); 
    text-decoration: none;
}

.palabramenu:active{
    text-decoration: none;
}

.palabramenu:visited{ 
    color: #b8b9b9; 
    text-decoration: none;
}

.palabramenu:hover{ 
    color: #ffcbe0;
    text-decoration: none;
}



/*Tarjetas*/

.card{
    top:-20px;
    margin: 20px;
    background-color: black !important;

    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 94%, rgba(77,2,2,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(94%, rgba(28,28,28,1)), color-stop(100%, rgba(77,2,2,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 94%, rgba(77,2,2,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 94%, rgba(77,2,2,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 94%, rgba(77,2,2,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 94%, rgba(77,2,2,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4d0202', GradientType=0 );

    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}





.leer:link{ 
    color: rgb(255, 255, 255); 
    text-decoration: none;

    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.leer:active{ 
    color: #6c757d; 
    text-decoration: none;
}

.leer:visited{ 
    color: #6c757d; 
    text-decoration: none;
}

.leer:hover{ 
    color: #ff0065 !important; 
    text-decoration: none !important;
}





.card-title{
    font-family: 'roboto-medium';
    color: #ff0065 !important;
    font-size: 22px !important;
}

.card-text{
    color: rgb(255, 255, 255) !important;
}

.text-muted{
    color: rgb(255, 255, 255) !important;
}




.card-img-top{
    width: 100vw;
}

.contenedorimg:hover .card-img-top{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .9s ease-in-out;
    filter: saturate(180%)
}

.contenedorimg{
    overflow:hidden;
}

/*gif dany rey de la noche*/

.gifdany{
    width: 300px;
    display:block;
    margin:auto;
    margin-top: -100px;
}


/*publicidad pagina simpson*/

.pagsimpson{
    display:block;
    margin:auto;
    margin-top: 200px;
}

.pagsimpson:hover{
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
    transition:all .7s ease-in-out;

    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}



/*pie de pagina foto participantes*/

footer{
    margin-top: 0px;
    height: 100px;
   
    background: rgba(94,27,27,1);
background: -moz-linear-gradient(top, rgba(94,27,27,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(94,27,27,1)), color-stop(5%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(94,27,27,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(94,27,27,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(94,27,27,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(94,27,27,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e1b1b', endColorstr='#000000', GradientType=0 );

}

.fotopablo{
    height: 90px;
    margin-top: 5px;
}

.fotochicos{
    margin-top: 20px;
    height: 70px;
}

.nombre_pie_1{
    margin-top: 30px;
    font-family: 'roboto-BoldCondensed';
    font-size: 30px;
    color: rgb(255, 255, 255);

}


/*efecto letra footer*/



.title_Prueba {
	text-align: center;
	color: #FFF;
	align-items: center;
	justify-content: center;
}

.palabra_efecto_fuego {
	background-image: url(../img/gif/giphy_2.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 25px;
	line-height: .75;
	margin: 40px 0;
}

.palabra_efecto_hielo {
	background-image: url(../img/gif/8SzwQc8j2KJZo6c43w4Bg9ysSuq4sua46yAeUgxyy3WnRJ2vSgsYa6T5u6avkEFUQTSxMnU1rLNcMGRLdK5NEkTvSyE2dYNefc5NsU9GofeT6AN8dEV.gif);
    background-size: cover;
	color: transparent;

	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 25px;
	line-height: .75;
	margin: 40px 0;
}



/*menuoculto para que la barra de menu no tape el footer*/

.menuoculto{
    height: 80px;
}

/*Menu Bajo solo en small*/

.menubajo{
    background-color: #15202b;
    bottom:0px;
    height: 80px;

    position: fixed;
    justify-content: center;
    width: 105vw;

    -webkit-box-shadow: 0px -5px 5px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -5px 5px -6px rgba(0,0,0,0.75);
box-shadow: 0px -5px 5px -6px rgba(0,0,0,0.75);
}


.icoespebajo{
    height: 45px;
    margin-left: 30%;
    margin-top: 15px;

    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.imgespebajo:hover .icoespebajo{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .5s ease-in-out;
    filter: saturate(150%)
}



.icohistbajo{
    height: 45px;
    margin-top: 15px;

    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.imghistbajo:hover .icohistbajo{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .5s ease-in-out;
    filter: saturate(150%)
}

.icodepobajo{
    height: 45px;
    margin-top: 15px;

    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.imgdepobajo:hover .icodepobajo{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .5s ease-in-out;
    filter: saturate(150%)
}

.icojuegbajo{
    height: 45px;
    margin-top: 15px;

    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.imgjuegbajo:hover .icojuegbajo{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .5s ease-in-out;
    filter: saturate(150%)
}

.icocursbajo{
    height: 45px;
    margin-top: 15px;

    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.imgcursbajo:hover .icocursbajo{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .5s ease-in-out;
    filter: saturate(150%)
}

.icoencubajo{
    height: 45px;
    margin-top: 15px;

    cursor: url("../img/Cursor/Manodelrey_1_7_m.png"), auto;
}

.imgencubajo:hover .icoencubajo{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .5s ease-in-out;
    filter: saturate(150%);
}





